@model UserEditViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="card mb-4">
    <div class="card-header pb-0">
        <h6>Profil Düzenleme Sayfası</h6>
    </div>
    <form method="post" enctype="multipart/form-data">
        <div class="container">
            @Html.Label("Adınız")
            <input type="text" asp-for="name" class="form-control" />
            <br />
            @Html.Label("Soyadınız")
            <input type="text" asp-for="surName" class="form-control" />
            <br />
            @Html.Label("Mail Adresiniz")
            <input type="text" asp-for="mail" class="form-control" />
            <br />
            @Html.Label("Şifreniz")
            <input type="text" asp-for="password" class="form-control" />
            <br />
            @Html.Label("Şifre Tekrarı")
            <input type="text" asp-for="confirmPassword" class="form-control" />
            <br />
            @Html.Label("Telefon Numaranız")
            <input type="text" asp-for="phoneNumber" class="form-control" />
            <br />
            <div class="form-group">
                <label>Görsel Seçin</label>
                <br />
                <input type="file" asp-for="Image" />
            </div>
            <br />

            <button class="btn btn-primary" >Bilgileri Güncelle</button>
        </div>
     


    </form>
    </div>
