@model List<GetAllDestinationQueryResult>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int sayac = 0;
}

<div class="card">
    <h5 class="card-header">CQRS Tur Rotası Verileri</h5>
    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Şehir</th>
                    <th>Gün-Gece</th>
                    <th>Fiyat</th>
                    <th>Kapasite</th>
                    <th>İşlemler</th>

                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var item in Model)
                {


                <tr>
                    @{ sayac = sayac + 1;}
                    <td>@sayac</td>
                    <td>@item.city</td>
                    <td>@item.daynight</td>
                    <td>@item.price</td>
                    <td>
                        @item.capacity
                    </td>
                    <td>
                        <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/Admin/DestinationCQRS/GetDestination/@item.id"><i class="bx bx-edit-alt me-1"></i> Güncelle</a>
                                <a class="dropdown-item" href="/Admin/DestinationCQRS/DeleteDestinaiton/@item.id"><i class="bx bx-trash me-1"></i> Sil</a>
                            </div>
                        </div>
                    </td>

                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div>
    <br />
    <a class="btn btn-primary" href="/Admin/DestinationCQRS/AddDestination/">Yeni Tur Rotası Oluştur</a>

</div>


