@model List<TraversalCoreProject.Areas.Admin.Models.VisitorViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int sayac = 0;
}

<div class="card">
    <h5 class="card-header">Api Ziyaretçi Listesi</h5>
    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Ad</th>
                    <th>Soyad</th>
                    <th>Şehir</th>
                    <th>Ülke</th>
                    <th>Mail</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var item in Model)
                {


                    <tr>
                        @{ sayac = sayac + 1;}
                        <td>@sayac</td>
                        <td> @item.Name</td>
                        <td>@item.Surname</td>
                        <td>  @item.City </td>
                        <td>  @item.Country </td>
                        <td>  @item.Mail </td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="/Admin/VisitorApi/UpdateVisitor/@item.VisitorId"><i class="bx bx-edit-alt me-1"></i> Güncelle</a>
                                    <a class="dropdown-item" href="/Admin/VisitorApi/DeleteVisitor/@item.VisitorId"><i class="bx bx-trash me-1"></i> Sil</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div>
    <br />
    <a class="btn btn-primary" href="/Admin/VisitorApi/AddVisitor/">Yeni Ziyaretçi Oluştur</a>

</div>


